<ul class="unstyled">
  <li><a href="/guide/">Overview</a></li>
  <li><a href="/guide/get-started/">Get Started</a></li>
  <li><a href="/guide/architecture/">Architecture</a></li>
  <li><a href="/guide/application/">Application</a></li>
  <ul>
    <li><a href="/guide/directory-structure/">Directory Structure</a></li>
    <li><a href="/guide/initialization/">Initialization</a></li>
  </ul>
  <li><a href="/guide/routing/">Routing</a></li>
  <ul>
    <li><a href="/guide/resources/">Resources</a></li>
    <li><a href="/guide/namespaces/">Namespaces</a></li>
  </ul>
  <li><a href="/guide/controllers/">Controllers</a></li>
  <ul>
    <li><a href="/guide/filters/">Filters</a></li>
    <li><a href="/guide/formats/">Formats</a></li>
  </ul>
  <li><a href="/guide/views/">Views</a></li>
  <li><a href="/guide/datastores/">Datastores</a></li>
  <ul>
    <li><a href="/guide/mongoose/">Mongoose</a></li>
  </ul>
</ul>
